<a href="https://colab.research.google.com/github/Kubania/Moringa_IP4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_06_MERCY_KUBANIA_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load the Dataset

In [0]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np

In [0]:
# load the dataset
ecars = pd.read_csv('/content/Autolib_dataset.csv')

# Exploration

In [0]:
ecars.tail()

              Address  Cars  Bluecar counter  ...  day  hour  minute
4995  Quai de SÃ¨vres     0                0  ...    5     1      28
4996  Quai de SÃ¨vres     0                0  ...    5     7      44
4997  Quai de SÃ¨vres     4                4  ...    2     2      23
4998  Quai de SÃ¨vres     0                0  ...    4     5      16
4999  Quai de SÃ¨vres     6                6  ...    7    16      31

[5 rows x 25 columns]

In [0]:
ecars.shape

(5000, 25)

In [0]:
ecars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data Cleaning

**Validity**

In [0]:
# Drop columns not needed for analysis
ecars.drop(["Geo point","Public name","Displayed comment"],axis = 1, inplace= True)

In [0]:
#Remove syntax errors: Description states Charging status has some typos 
#no typos
ecars['Charging Status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

In [0]:
#Remove all whitespaces
for x in ecars.columns:
  if ecars[x].dtypes == 'object':
    ecars[x].str.strip()

**Completeness**

In [0]:
# check for null values
ecars.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Postal code            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [0]:
# Has 47 out 5000 records
ecars.drop('Scheduled at',axis =1 , inplace= True)

In [0]:
# Drop row where column with 'status' is future because the scheduled at corresponds to the [column] = future
#future are stations that are not in operation
#has future and drop by index
future = ecars[ecars['Rental status'] == 'future'].index
ecars.drop(future,inplace=True)

In [0]:
# Drop rows where rental status is not operational
non_op = ecars[ecars['Rental status'] != 'operational'].index
ecars.drop(non_op,inplace= True)

In [0]:
ecars.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Postal code            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [0]:
ecars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4618 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4618 non-null   object
 1   Cars                 4618 non-null   int64
 2   Bluecar counter      4618 non-null   int64
 3   Utilib counter       4618 non-null   int64
 4   Utilib 1.4 counter   4618 non-null   int64
 5   Charge Slots         4618 non-null   int64
 6   Charging Status      4618 non-null   object
 7   City                 4618 non-null   object
 8   ID                   4618 non-null   object
 9   Kind                 4618 non-null   object
 10  Postal code          4618 non-null   int64
 11  Rental status        4618 non-null   object
 12  Slots                4618 non-null   int64
 13  Station type         4618 non-null   object
 14  Status               4618 non-null   object
 15  Subscription status  4618 non-null   object
 16  year                 4618 non-null   int64
 17  month                4618 non-null   int64
 18  day                  4618 non-null   int64
 19  hour                 4618 non-null   int64
 20  minute               4618 non-null   int64
dtypes: int64(12), object(9)
memory usage: 793.7+ KB

 ***Consistency***

In [0]:
#check for duplicates
ecars.duplicated().any()

False

**Uniformity**

In [0]:
#Fix messy columns
ecars.columns = ecars.columns.str.strip().str.replace(" ","_").str.lower()
ecars.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'id',
       'kind', 'postal_code', 'rental_status', 'slots', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [0]:
# Data type conversation
ecars['datetime'] = pd.to_datetime(ecars[['year','month','day','hour','minute']])

In [0]:
ecars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4618 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              4618 non-null   object
 1   cars                 4618 non-null   int64
 2   bluecar_counter      4618 non-null   int64
 3   utilib_counter       4618 non-null   int64
 4   utilib_1.4_counter   4618 non-null   int64
 5   charge_slots         4618 non-null   int64
 6   charging_status      4618 non-null   object
 7   city                 4618 non-null   object
 8   id                   4618 non-null   object
 9   kind                 4618 non-null   object
 10  postal_code          4618 non-null   int64
 11  rental_status        4618 non-null   object
 12  slots                4618 non-null   int64
 13  station_type         4618 non-null   object
 14  status               4618 non-null   object
 15  subscription_status  4618 non-null   object
 16  year                 4618 non-null   int64
 17  month                4618 non-null   int64
 18  day                  4618 non-null   int64
 19  hour                 4618 non-null   int64
 20  minute               4618 non-null   int64
 21  datetime             4618 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(9)
memory usage: 829.8+ KB

Export to csv file

In [0]:
ecars.to_csv('clean_ecars.csv')

# **Analysis of the Data**

### **Bluecars**

In [0]:
#The dataset for bluecars
ecars = pd.read_csv('/content/clean_ecars.csv')

In [83]:
ecars1 = ecars[['city','address','bluecar_counter','slots','postal_code','hour']]
ecars1

          city                   address  ...  postal_code  hour
0     Nanterre      1 allÃ©e de Gascogne  ...        92000     9
1     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    22
2     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    16
3     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    11
4     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    12
...        ...                       ...  ...          ...   ...
4613   SÃ¨vres           Quai de SÃ¨vres  ...        92310     1
4614   SÃ¨vres           Quai de SÃ¨vres  ...        92310     7
4615   SÃ¨vres           Quai de SÃ¨vres  ...        92310     2
4616   SÃ¨vres           Quai de SÃ¨vres  ...        92310     5
4617   SÃ¨vres           Quai de SÃ¨vres  ...        92310    16

[4618 rows x 6 columns]

In [84]:
# 1.What was the most popular hour of the day for picking up a shared electric car(Bluecar) in the city of Paris over the Month of April
ecars1[(ecars1['bluecar_counter'] == 0) & (ecars1['city'] == 'Paris')]['hour'].value_counts().nlargest(3)

23    42
2     42
16    42
Name: hour, dtype: int64

In [85]:
# 2. What is the most popular hour for returning cars
ecars1[(ecars1['bluecar_counter']) & (ecars1['slots'] == 0)]['hour'].value_counts().nlargest(1)

12    33
Name: hour, dtype: int64

In [86]:
# 3.0 What station is the most popular. Overall?
ecars.groupby(['address'])['address'].count().nlargest(1)

address
8 Avenue de la Porte de Montrouge    13
Name: address, dtype: int64

In [87]:
# 3.1 What station is the most popular, at the most popular picking hour?

ecars[(ecars['bluecar_counter'] == 0) & (ecars['hour'].value_counts())].sort_values(by = 'hour')[['address','hour']].nlargest(1,'hour')

                    address  hour
11  1 avenue Ãmile Laurent    14

In [88]:

# 4.0 What postal code is the most popular postal code, overall?
ecars.groupby('postal_code')['postal_code'].count().nlargest(1)

postal_code
75015    249
Name: postal_code, dtype: int64

In [89]:
# 4.0.1  Does the most popular station belong to that postal code
ecars.groupby(['address','postal_code'])['postal_code'].count().sort_values(ascending =False).nlargest(1)

address                            postal_code
8 Avenue de la Porte de Montrouge  75014          13
Name: postal_code, dtype: int64

In [90]:
# 4.1 What postal code is the most popular postal code, at the most popular picking hour?
ecars[(ecars['bluecar_counter'] == 0)& (ecars['hour'].value_counts())][['postal_code','hour']].nlargest(1,'hour')

    postal_code  hour
11        75012    14

In [91]:
# 4.1.1  Does the most popular station belong to that postal code
ecars[(ecars['bluecar_counter'] == 0)& (ecars['hour'].value_counts())][['address','postal_code','hour']].nlargest(1,'hour')

                    address  postal_code  hour
11  1 avenue Ãmile Laurent        75012    14

### **Utilib**

In [95]:
ecars2 = ecars[['address','city','utilib_counter','postal_code','slots','hour']]
ecars2

                       address      city  ...  slots  hour
0         1 allÃ©e de Gascogne  Nanterre  ...      0     9
1     1 allÃ©e Parc LagravÃ¨re  Colombes  ...      4    22
2     1 allÃ©e Parc LagravÃ¨re  Colombes  ...      2    16
3     1 allÃ©e Parc LagravÃ¨re  Colombes  ...      1    11
4     1 allÃ©e Parc LagravÃ¨re  Colombes  ...      0    12
...                        ...       ...  ...    ...   ...
4613           Quai de SÃ¨vres   SÃ¨vres  ...      6     1
4614           Quai de SÃ¨vres   SÃ¨vres  ...      5     7
4615           Quai de SÃ¨vres   SÃ¨vres  ...      1     2
4616           Quai de SÃ¨vres   SÃ¨vres  ...      6     5
4617           Quai de SÃ¨vres   SÃ¨vres  ...      0    16

[4618 rows x 6 columns]

In [96]:
# 1.What was the most popular hour of the day for picking up a shared electric car(Utilib) in the city of Paris over the Month of April
ecars2[(ecars2['utilib_counter'] == 0) & (ecars2['city'] == 'Paris')]['hour'].value_counts().nlargest(1)

21    125
Name: hour, dtype: int64

In [97]:
# 2. What is the most popular hour for returning cars
ecars2[(ecars2['slots'] == 0)]['hour'].value_counts().nlargest(1)

13    64
Name: hour, dtype: int64

In [99]:
# 3. What station is the most popular. Overall?
ecars.groupby(['address'])['address'].count().sort_values(ascending = False).head(1)

address
8 Avenue de la Porte de Montrouge    13
Name: address, dtype: int64

In [100]:
# 3.1 What station is the most popular, at the most popular picking hour?
ecars[(ecars['utilib_counter'] == 0) & (ecars['hour'].value_counts())].sort_values(by = 'hour')[['address','hour']].nlargest(1,'hour')

                    address  hour
1  1 allÃ©e Parc LagravÃ¨re    22

In [102]:
# 4.0 What postal code is the most popular postal code, overall?
ecars.groupby('postal_code')['postal_code'].count().nlargest(1)

postal_code
75015    249
Name: postal_code, dtype: int64

In [103]:
# 4.0.1  Does the most popular station belong to that postal code
ecars.groupby(['address','postal_code'])['postal_code'].count().sort_values(ascending =False).nlargest(1)

address                            postal_code
8 Avenue de la Porte de Montrouge  75014          13
Name: postal_code, dtype: int64

In [104]:
# 4.1 What postal code is the most popular postal code, at the most popular picking hour?
ecars[(ecars['utilib_counter'] == 0)& (ecars['hour'].value_counts())][['postal_code','hour']].nlargest(1,'hour')

   postal_code  hour
1        92700    22

In [105]:
# 4.1.1  Does the most popular station belong to that postal code
ecars[(ecars['utilib_counter'] == 0)& (ecars['hour'].value_counts())][['address','postal_code','hour']].nlargest(1,'hour')

                    address  postal_code  hour
1  1 allÃ©e Parc LagravÃ¨re        92700    22

### **Utilib** **1.4**

In [107]:
ecars3 = ecars[['city','address','utilib_1.4_counter','slots','postal_code','hour']]
ecars3

          city                   address  ...  postal_code  hour
0     Nanterre      1 allÃ©e de Gascogne  ...        92000     9
1     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    22
2     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    16
3     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    11
4     Colombes  1 allÃ©e Parc LagravÃ¨re  ...        92700    12
...        ...                       ...  ...          ...   ...
4613   SÃ¨vres           Quai de SÃ¨vres  ...        92310     1
4614   SÃ¨vres           Quai de SÃ¨vres  ...        92310     7
4615   SÃ¨vres           Quai de SÃ¨vres  ...        92310     2
4616   SÃ¨vres           Quai de SÃ¨vres  ...        92310     5
4617   SÃ¨vres           Quai de SÃ¨vres  ...        92310    16

[4618 rows x 6 columns]

In [113]:
# 1.What was the most popular hour of the day for picking up a shared electric car(Utilib 1.4) in the city of Paris over the Month of April
ecars3[(ecars3['utilib_1.4_counter'] == 0) & (ecars3['city'] == 'Paris')]['hour'].value_counts().nlargest(1)

21    114
Name: hour, dtype: int64

In [114]:
# 2. What is the most popular hour for returning cars
ecars3[ecars3['slots'] == 0]['hour'].value_counts().nlargest()

13    64
9     64
6     63
7     62
5     62
Name: hour, dtype: int64

In [115]:
# 3. What station is the most popular. Overall?
ecars3['utilib_1.4_counter'].groupby(ecars3['address']).count().sort_values(ascending = False).nlargest()

address
8 Avenue de la Porte de Montrouge    13
35 rue Mathis                        11
1 Rue de WolfenbÃ¼ttel               11
182 Boulevard Voltaire               11
69 Rue de Courcelles                 11
Name: utilib_1.4_counter, dtype: int64

In [119]:
# 3.1 What station is the most popular, at the most popular picking hour?
ecars3[(ecars['utilib_1.4_counter'] == 0) & (ecars3['hour'].value_counts())].sort_values(by = 'hour',ascending = False)[['address','hour']]

                            address  hour
1          1 allÃ©e Parc LagravÃ¨re    22
6           1 avenue Ãmile Laurent    21
13          1 avenue Anatole France    21
9           1 avenue Ãmile Laurent    20
20  1 avenue du GÃ©nÃ©ral de Gaulle    20
11          1 avenue Ãmile Laurent    14
14          1 avenue Anatole France    14
0              1 allÃ©e de Gascogne     9
21  1 avenue du GÃ©nÃ©ral de Gaulle     9
22  1 Avenue du GÃ©nÃ©ral GalliÃ©ni     6

In [120]:
# 4.0 What postal code is the most popular postal code, overall?
ecars.groupby('postal_code')['postal_code'].count().nlargest()

postal_code
75015    249
75016    222
75017    213
75011    173
75013    165
Name: postal_code, dtype: int64

In [122]:
# 4.0.1  Does the most popular station belong to that postal code
ecars3.groupby(['address','postal_code'])['postal_code'].count().sort_values(ascending =False).nlargest(1)

address                            postal_code
8 Avenue de la Porte de Montrouge  75014          13
Name: postal_code, dtype: int64

In [123]:
# 4.1 What postal code is the most popular postal code, at the most popular picking hour?
ecars3[(ecars3['utilib_1.4_counter'] == 0)& (ecars3['hour'].value_counts())][['postal_code','hour']].nlargest(1,'hour')

   postal_code  hour
1        92700    22

In [124]:
# 4.1.1  Does the most popular station belong to that postal code
ecars3[(ecars3['utilib_1.4_counter'] == 0)& (ecars3['hour'].value_counts())][['address','postal_code','hour']].nlargest(1,'hour')

                    address  postal_code  hour
1  1 allÃ©e Parc LagravÃ¨re        92700    22